[Unit]
Description=uwsgi emperor for shoppinglist website
After=network.target
[Service]
User=root
Restart=always
ExecStart=/shopping_list_django_project/sl-env/bin/uwsgi --emperor /shopping_list_django_project/sl-env/vassals --uid www-data --gid www-data
[Install]
WantedBy=multi-user.target
