{% extends 'main/base.html' %}

{% block title %}Shopping list - {{sl.name}}{% endblock %}

{% block content %}
    <h1>{{sl.name}}</h1>

    <form method="POST" action="#">
      {% csrf_token %}
    
        <div class="row">
          <div class="col">
            <input type="text" name="name" class="form-control" placeholder="Name">
          </div>
          <div class="col">
            <select name="item_type" id="input_item_type" class="form-control">
              <option selected>Type</option>
              <option>fruit</option>
              <option>vegetable</option>
              <option>dairy</option>
              <option>meat</option>
              <option>grain</option>
              <option>other</option>
            </select>
          </div>
          <div class="col">
            <input type="number" name="quantity" class="form-control" placeholder="Quantity">
          </div>
          <div class="col">
            <input type="number" step="any" name="price" class="form-control" placeholder="Price">
          </div>
          <div class="col">
            <button type="submit", name="addItem", value="addItem", class="btn btn-primary">Add Item</button>
          </div>
        </div>
        
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price (€)</th>
            </tr>
          </thead>
          <tbody>
            {% for item in sl.item_set.all %}
              <tr>
                <th scope="row">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="checkbox" value="clicked", name="c{{item.id}}">
                    </div>
                  </div>
                </th>
                <td>{{item.name}}</td>
                <td>{{item.item_type}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="list-group">
          <label><h4>Total price: </h4>{{total.total_price}} €</label>
          <label><h4>Total items: </h4>{{total.total_items}}</label>
        </div>

        <button type="submit", name="sortList", value="sortList", class="btn btn-info">Sort list</button>
        <button type="submit", name="deleteItem", value="deleteItem", class="btn btn-secondary">Delete Item</button>

    </form>

{% endblock %}