{% extends 'main/base.html' %}

{% block title %} {{sl}} sorted by category {% endblock %}


{% block content %}

    {% for section in items_data.items %}
        <h1>{{section.0}}</h1>
 
 
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit</th>
                <th scope="col">Price</th>
              </tr>
            </thead>

            {% for item in section.1.0 %}
    
                    <tbody>
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.unit}}</td>
                        <td>{{item.obtaine_tot_price_per_item}} €</td>
                    </tr>
                    </tbody>

            {% endfor %}
            {{section.1.1}}
        
        </table>

    {% endfor %}

    <div class="form-group">
        <a class="btn btn-info" href="/{{sl.id}}" role="button">Return</a>
    </div>

{% endblock %}



