{% extends 'main/base.html' %}
{% block title %}{{user.username}} home | Shopping list{% endblock %}
{% block content %}

    {% if user.is_authenticated %}

        <p><h3>All your shopping lists:</h3></p>

            <form method="POST" action="#">

                    {% csrf_token %}
                    {% for sl_list in user.slist.all %}
                        <div class="row">     
            
                            <div class="col-8">
                                <a href="/{{sl_list.id}}"class="list-group-item list-group-item-action">{{sl_list.name}}</a>
                            </div>
                            <div class="col-2">
                                <button type="submit" value="{{sl_list.id}}" name="delete_list" class="btn btn-warning">Delete</button>
                            </div>


                        </div>
                    {% endfor %}
                </form>

                <form method="POST" action="#">
                    {% csrf_token %}
                    <br>
                    <div class="row">
                        <div class="col-9">
                            <div class="input-group mb-3">
                                <button class="btn btn-info" type="submit" name="create_sl", value="create_sl" id="button-addon1">Create list</button>
                                <input type="text" name="input_sl" class="form-control" placeholder="list name" aria-label="Example text with button addon" aria-describedby="button-addon1">
                            </div>
                        </div>
                    </div>
                </form>
            
    
            {% for message in messages %}
                <p id="">{{message}}</p>
            {% endfor %}

    {% else %}
        <p>Login <a href="/login">Here</a></p>
    {% endif %}
      
{% endblock %}

