{% extends 'main/base.html' %}

{% block content %}

<div class="alert alert-info alert-dismissible fade show" role="alert">
    Hello {{username}} You succesfully logged in!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

<h3>All your shopping lists:</h3>

    <form method="POST" action="#">

            {% csrf_token %}
            {% for sl_list in user.slist.all %}
                <div class="row">     
                    <div class="col-11">
                        <a href="/{{sl_list.id}}"class="list-group-item list-group-item-action">{{sl_list.name}}</a>
                    </div>
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input type="checkbox" value="clicked", name="c{{sl_list.id}}">
                        </div>
                      </div>
                </div>
            {% endfor %}

            <button type="submit", name="delete_sl", value="delete_sl", class="btn btn-secondary">Delete list</button>
            <button type="submit", name="delete_sl", value="delete_sl", class="btn btn-success">Create list</button>

    </form>

{% endblock %}

