{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

<title>Change password</title>

{% block title %}Shopping list | change password{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="container">
        <p><h1>Change password</h1></p>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>

    {% else %}
        <p>Login <a href="/login">Here</a></p>
    {% endif %}
      
{% endblock %}

