{% extends 'accounts/base.html' %}

<title>Profile</title>

{% block content %}

    {% if user.is_authenticated %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="container">
            <h1>Profile</h1>
            <p>Username: {{user.username}}</p>
            <p>First name: {{user.first_name}}</p>
            <p>Last name: {{user.last_name}}</p>
            <p>Email: {{user.email}}</p>
            <!-- <p>Creation date: {{user.userprofile.date_created}}</p> -->
        </div>

    {% else %}
        <p>Login <a href="/login">Here</a></p>
    {% endif %}
      
{% endblock %}

