{% extends "nouser/basenouser.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
    <div class="col align-self-center">
        <p>Don't go out without your 
            <br>
            <h2>Shopping List</h2>
            <br>
            Create one 
            <!-- <button type="button" name="create" value="create" class="btn btn-info"><a style="text-decoration:none" href="/home/newlist_nouser">Here</a></button> -->
            <div class="form-group">
                <a class="btn btn-info" href="/home/create_newlist_nouser" role="button">Here</a>
            </div>        
        </p>

    </div>
    <div class="col">
        <img src="{% static 'images/grocery.jpg' %}"/>
    </div>

</div>

{% endblock %}